img{
    width: auto;
    height: 150px;
}

.navbar{
    display: flex;
    align-items: center;
    align-content: space-between;
}

body{
    background-color:  hsl(60, 100%, 91%);
}

.head{
    display: flex;
    justify-content: space-around;
    background-color: hsl(258, 48%, 72%);
}

.contact{
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    justify-content: space-around;
}
.h1{
    border-radius: 50px 0;
    background-color:  hsl(138, 84%, 88%);
    width: 25%;
    padding: 10px;
}
.h2{
    border-radius: 50px 0;
    background-color:  hsl(138, 84%, 88%);
    width: 25%;
    padding: 10px;
}
.h3{
    border-radius: 50px 0;
    background-color:  hsl(138, 84%, 88%);
    width: 25%;
    padding: 10px;
}

.new{
    display: flex;
    justify-content: center;
}

a{
    padding: 10px;
}
